<div class="container">
    <div class="row" style="font-weight: bold; font-size:x-large; color:black">
        <span style="width: 33%;">Payments vs Remittance List</span>
        <span style="width: 33%;">From: {{frappe.format(from_date, {"fieldtype": "Date"})}}</span>
        <span style="width: 33%;">To: {{frappe.format(to_date, {"fieldtype": "Date"})}}</span>
    </div>
</div>

<div class="d-flex">
    <div style="width: 47%;">
        <div class="row" style="font-weight: bold; color:black; margin-top:36px">
            <span style="width: 15%;">Nature</span>
            <span style="width: 35%;">Payment to/For</span>
            <span style="width: 20%;">Amount(INR)</span>
            <span style="width: 15%;">Due date</span>
            <span style="width: 15%;">To Pay</span>
        </div>
        <div class="row">
            <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 8px;"></div>
        </div>
    </div>
    <div style="width: 6%;">
    </div>
    <div style="width: 47%;">
        <div class="row" style="font-weight: bold; color:black; margin-top:36px">
            <span style="width: 15%;">Nature</span>
            <span style="width: 35%;">Remittance from</span>
            <span style="width: 20%;">Amount(INR)</span>
            <span style="width: 15%;">Exp. date</span>
            <span style="width: 15%;">Sales Person Name</span>
        </div>
        <div class="row">
            <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 8px;"></div>
        </div>
    </div>
</div>

<div class="d-flex">
    <div style="width: 47%;">
        {% for date_data in data %}
        <div>
            {% for pi_data in date_data.pi_data %}
            <div class="row" style="line-height:36px; font-size:13px;">
                <span style="width: 15%;"></span>
                <span style="width: 35%;">{{pi_data.supplier_name}}</span>
                <span style="width: 20%; text-align:end; padding-right:28px;">{{format_currency(pi_data.payment_amount, "INR")}}</span>
                <span style="width: 15%;">{{pi_data.due_date}}</span>
                <span style="width: 15%;">
                    <input type="number" name="{{pi_data.due_date}}_{{ pi_data.name }}" id="{{pi_data.due_date}}_{{ pi_data.name }}" value="" style="width: 75%; height: 75%">
                </span>
            </div>
            {% endfor %}
            {% if date_data.si_records - date_data.pi_records > 0 %}
            {% for i in date_data.diff_array  %}
                <div class="row" style="line-height:36px; font-size:13px;">
                    <span style="width:100%; text-align:center;">NA</span>
                </div>
            {% endfor %}
            {%if date_data.pi_records == 0 %}
            <div class="row">
                <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 8px;"></div>
            </div>
            <div class="row">
                <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 44px;"></div>
            </div>
            {% endif %}
            {% endif %}
            {%if date_data.total_pi_amount %}
            <div class="row">
                <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 8px;"></div>
            </div>
            <div class="row" style="line-height:36px; color:black; font-size: 13px;">
                <span style="width: 15%;"></span>
                <span style="width: 35%;"></span>
                <span style="width: 20%; text-align:end; padding-right:28px;">{{format_currency(date_data.total_pi_amount, "INR")}}</span>
                <span style="width: 15%;"></span>
                <span style="width: 15%;"></span>
            </div>
            <div class="row">
                <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 8px;"></div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <div style="width: 6%;">
    </div>
    <div style="width: 47%;">
        {% for date_data in data %}
        <div>
            {% for si_data in date_data.si_data %}
            <div class="row" style="line-height:36px; font-size:13px;">
                <span style="width: 15%;"></span>
                <span style="width: 35%;">{{si_data.customer_name}}</span>
                <span style="width: 20%; text-align:end; padding-right:28px;">{{format_currency(si_data.payment_amount, "INR")}}</span>
                <span style="width: 15%;">{{si_data.due_date}}</span>
                <span style="width: 15%;">
                    <input type="text" name="{{si_data.due_date}}_{{ si_data.name }}" id="{{si_data.due_date}}_{{ si_data.name }}" value="" style="width: 75%; height: 75%">
                </span>
            </div>
            {% endfor %}
            {% if date_data.pi_records - date_data.si_records > 0 %}
            {% for i in date_data.diff_array  %}
                <div class="row" style="line-height:36px; font-size:13px;">
                    <span style="width:100%; text-align:center;">NA</span>
                </div>
            {% endfor %}
            {%if date_data.si_records == 0 %}
            <div class="row">
                <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 8px;"></div>
            </div>
            <div class="row">
                <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 44px;"></div>
            </div>
            {% endif %}
            {% endif %}
            {%if date_data.total_si_amount %}
            <div class="row">
                <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 8px;"></div>
            </div>
            <div class="row" style="line-height:36px; color:black; font-size: 13px;">
                <span style="width: 15%;"></span>
                <span style="width: 35%;"></span>
                <span style="width: 20%; text-align:end; padding-right:28px;">{{format_currency(date_data.total_si_amount, "INR")}}</span>
                <span style="width: 15%;"></span>
                <span style="width: 15%;"></span>
            </div>
            <div class="row">
                <div style="width: 100%; height: 8px; border-top: 2px dashed gray; margin-top: 8px;"></div>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
